// Colors
$san-marino-color: #4066a5;
$vulcan-color: #131821;
$pale-sky-color: #6a707b;
$iron-color: #e3e3e4;
$white-lilac-color: #f2f5fa;
$white-color: #fff;

// Font family
$base-font: Arial, sans-serif;
$heading-font: Georgia, serif;

// Font size
$font-size-xsmall: 1.4rem;
$font-size-small: 1.6rem;
$font-size-medium: 2.4rem;
$font-size-large: 3.2rem;

// Line height
$height-xsmall: 2.4rem;
$height-small: 2.6rem;
$height-medium: 2.8rem;
$height-large: 3.4rem;
$height-xlarge: 4.4rem;

// Font weight
$weight-normal: 400;

// Media Queries
$breakpoint-large: 84em; // 1200px
$breakpoint-medium: 61.19em; // 979px
$breakpoint-small: 31.19em; // 499px
