* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $base-font;
  color: $pale-sky-color;
  font-weight: 400;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;

  &:focus {
    outline: 2px dashed $san-marino-color;
  }
}
